{{#each this}}
  <li class='item'>
    <div class='image__thumb'>
      <img width='400' src='{{image}}' alt='{{capital}}' />
    </div>
    <h2 class='title'>{{country}}</h2>
    <p><b>Capital:</b>{{capital}}</p>
    <p><b>Price:</b>{{price}}</p>
  </li>
{{/each}}